@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamMediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: URL('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: URL('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alternate Gothic';
    src: URL('/fonts/alternate-gothic-no3-d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel Italic';
    src: URL('/fonts/Sentinel-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body{
    background-color:#ffffff;
    background-attachment:fixed;
    color:#283351; 
    text-align:left; 
    font-family:"Gotham","Trebuchet MS",sans-serif;
    font-size: 16px;
}

h, h2 {
    color:#283351; 
    font-family:"Alternate Gothic","Impact",sans-serif;
    font-size: 48px;
    text-align:center; 
}

p {
    color:#283351; 
    text-align:left; 
    font-family:"Gotham","Trebuchet MS",sans-serif;
    font-size: 16px;
}

a{
    color:#2D75CD; 
    text-decoration: underline;
    text-decoration-color: #2D75CD;
}
a:hover{
    color:#38aae1; 
    text-decoration: underline;
    text-decoration-color: #38aae1;
}