body{
    background-color:transparent;
    color:#283351; 
    text-align:left; 
    font-family:"Gotham Medium","Trebuchet MS",sans-serif;
    font-size: 16px;
}

h1 {
    color:#283351; 
    font-family:"Alternate Gothic","Impact",sans-serif;
    font-size: 48px;
    text-align:center; 
}

h2 {
    color:#283351; 
    font-family:"Alternate Gothic","Impact",sans-serif;
    font-size: 48px;
    text-align:left; 
}
.subheader{
    margin-left:15%;
    margin-right:15%;
    text-transform: uppercase;
}


p {
    color:#283351; 
    text-align:left; 
    font-size: 16px;
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    font-weight: lighter;
}
small {
    color:#283351; 
    text-align:left; 
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    font-size: 14px;
    font-style: italic;
}

a{
    color:#003980; 
    text-decoration: underline;
    text-decoration-color: #003980;
}
a:hover{
    color:#2D75CD; 
    text-decoration: underline;
    text-decoration-color: #2D75CD;
}

ul {
    list-style-type: none;
}

.eventBox {
    width: 85%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    align-self: center;
    box-shadow: 0px 0px 4px 1px rgba(40, 51, 81, .4);
}

.upcomingEvents .eventBox {
    background-color:rgba(153, 216, 242, .7);
}
.pastEvents .eventBox {
    background-color:rgba(203, 204, 209, .7);
}
.infoboxTop {
    border-radius: 15px;
    padding: 10px;
}
.upcomingEvents .infoboxTop {
    background-color: rgba(153, 216, 242, 1);
}
.pastEvents .infoboxTop {
    background-color: rgba(203, 204, 209, 1);
}
.infoboxBottom {
    padding: 10px;
}


.eventTime {
    font-size: 16px;
}
.eventSummary {
    font-size: 24px;
    font-family:"Gotham Black","Trebuchet MS",sans-serif;
    font-weight: normal;
}
.eventDescription {
    font-size: 16px;
    font-family:"Gotham Book","Trebuchet MS",sans-serif;
    font-weight: lighter;
}
.eventLocation {
    font-size: 16px;
}



@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamMediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: URL('/fonts/GothamBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham Book';
    src: URL('/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: URL('/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alternate Gothic';
    src: URL('/fonts/alternate-gothic-no3-d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel Italic';
    src: URL('/fonts/Sentinel-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



